ul {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  display: inline;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
  color: white;
  text-decoration: none;
}

.login {
  float: right;
}
